---
layout: default
---

{{ content }}

<noscript>Looks like you don't have JavaScript enabled, so the form below will not work. But no worries! You should email Max above, and he'll point you to the right person :)</noscript>
<form id="contact-form">
	<hr>
	<div>
		<label for="name">Name:</label>
		<input id="name" type="text" placeholder="optional">
	</div>
	<div>
		<label for="email">Email:</label>
		<input id="email" type="email" placeholder="optional">
	</div>
	<div>
		<label for="message">Message:</label>
		<textarea required id="message" placeholder="Let us know what's on your mind..."></textarea> 
	</div>
	<div>
		<input type="submit" value="send">
	</div>
</form>

<script type="text/javascript" src="{{ "/javascripts/slackhook.js" | relative_url }}"></script>

 <!-- https://hooks.slack.com/services/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  -->
<!-- <form action="http://foo.com" method="get">
  <div>
    <label for="say">What greeting do you want to say?</label>
    <input name="say" id="say" value="Hi">
  </div>
  <div>
    <label for="to">Who do you want to say it to?</label>
    <input name="to" value="Mom">
  </div>
  <div>
    <button>Send my greetings</button>
  </div>
</form> -->