---
layout: default
---

<div class="homepage">
	<div class="homepage-top">
		{{ content }}
	</div>

	<div class="hr-divider-container">
		<span> Sponsors </span>
		<div class="hr-divider"></div>
	</div>

	<div class="sponsors">
		{% for image in site.static_files %}
		    {% if image.path contains 'images/sponsors' %}
		        <img src="{{ image.path | relative_url }}" alt="image" />
		    {% endif %}
		{% endfor %}
	</div>

	<div class="hr-divider-container">
		<span> Latest Updates </span>
		<div class="hr-divider"></div>
	</div>

	{% for post in site.posts %}
		<div class="homepage-post">
			{% include post.html %}
		</div>
	{% endfor %}
</div>